[Unit]
Description=NoSlap Server, get up easier
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/noSlap/src/
ExecStart=/usr/bin/python3 /home/pi/noSlap/src/noslap-server.py
Restart=always

[Install]
WantedBy=multi-user.target
