[Unit]
Description=NoSlap Alarm, get up easier
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/noSlap/src/
ExecStart=/usr/bin/python3 /home/pi/noSlap/src/alarm.py

[Install]
WantedBy=multi-user.target
