{% extends 'noSlapServer/app/layout.html' %}


{% block body %}
    <div class="jumbotron">
<h3>edit no Slap</h3>


<form method="POST">

    Start Time <input type="time" id="starttime" name="starttime" value={{starttime}} required>

    End Time <input type="time" id="endtime" name="endtime" value={{endtime}} required>
    <br>
    <h2><font color="red">{{select_day}}</font></h2>
    <input type="checkbox" value=1 name="day"> Monday
    <input type="checkbox" value=2 name="day"> Tuesday
    <input type="checkbox" value=3 name="day"> Wednesday
    <input type="checkbox" value=4 name="day"> Thursday
    <input type="checkbox" value=5 name="day"> Friday
    <input type="checkbox" value=6 name="day"> Saturday
    <input type="checkbox" value=7 name="day"> Sunday
    <br>
    Volume (milli dB) <input type="number" name="Volume" min="-1000" max="1000" value={{def_volume}}>

    Activate <input type="checkbox" value="true" name="activated" checked>

    <br>
    <br>
    <input type="submit" value="Save NoSlap" class="btn btn-success">

</form>

  </div>
{% endblock %}

