{% extends 'noSlapServer/app/layout.html' %}


{% block body %}
<h3>because a wonderful morning doesn't begin with a Slap.</h3>

    <div class="jumbotron text-center">
        <p><span id="datetime"></span></p>
        <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = dt.toLocaleString();
        </script>

    <h3>my next no Slap:</h3>

<table style="width:100%">
    <tr>
    <th>id</th>
    <th>start time</th>
    <th>end time</th>
    <th>days</th>
    <th>volume</th>
    <th>activated</th>
    <th> </th>
  </tr>
          <tr>
    <td>{{noslap.ID}}</td>
    <td>{{noslap.START_TIME}}</td>
    <td>{{noslap.END_TIME}}</td>
    <td>{{noslap.DAYS}}</td>
    <td>{{noslap.VOLUME}}</td>
    <td>{{noslap.ACTIVATED}}</td>
    <td><a href="/edit-noslap/{{noslap.ID}}" class="btn btn-warning"> edit </a></td>
    <td><a href="/delete-noslap/{{noslap.ID}}" class="btn btn-danger"> x </a></td>
  </tr>

</table>

<p> {{noslap_string}}</p>

<a href="/edit-noslap/"class="btn btn-primary"> add new timer </a>


  </div>
{% endblock %}
