{% extends 'noSlapServer/app/layout.html' %}

{% block body %}

    <h1>any slaps</h1>


    <ul class="list-group">
<table style="width:75%">

    <tr>
    <th>id</th>
    <th>start time</th>
    <th>end time</th>
    <th>days</th>
    <th>volume</th>
    <th>activated</th>
    <th> </th>
  </tr>

        {% for slap in noslaps %}
          <tr>
    <td>{{slap.ID}}</td>
    <td>{{slap.START_TIME}}</td>
    <td>{{slap.END_TIME}}</td>
    <td>{{slap.DAYS}}</td>
    <td>{{slap.VOLUME}}</td>
    <td>{{slap.ACTIVATED}}</td>
    <td><a href="/edit-noslap/{{slap.ID}}" class="btn btn-warning"> edit </a></td>
    <td><a href="/delete-noslap/{{slap.ID}}" class="btn btn-danger"> x </a></td>
  </tr>
{% endfor %}

</table>
    </ul>

<p> {{noslap_string}}</p>


<a href="/edit-noslap/"class="btn btn-primary"> add new timer </a>

{% endblock %}