{% extends 'noSlapServer/app/layout.html' %}

{% block body %}

<div class="jumbotron text-center">

<h2>update the settings for the noSlap recognition:</h2>
<h2><font color="green">{{status}}</font></h2>

<style>
  textarea {
  width: 80%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  resize: none;
  }
</style>

<form method="POST">
    <br>
    <textarea name="textbox"> {{settings}} </textarea>
    <br>
    <input type="submit" value="save settings" class="btn btn-success">
</form>

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>


  </div>
{% endblock %}
